apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-deployment
  labels:
    app: web-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app-container
        image: 273801816274.dkr.ecr.us-east-1.amazonaws.com/devops-project:web-app-1.0
        ports:
        - containerPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: web-app-service
spec:
  selector:
    app: web-app
  ports:
  - port: 8000
    targetPort: 5000
#    nodePort: 30000
    protocol: TCP
  type: LoadBalancer
  externalTrafficPolicy: Cluster

